.section {
    margin: 0 1em;
    padding: 2em;
}

.sectionHeader {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.sectionHeader h1 {
    margin: 0;
    align-self: center;
}

.sectionHeader img {
    width: 45%;
    margin-left: auto;
}

.section p {
    text-align: justify;
}

@media screen and (min-width: 850px) {
    .section {
        grid-column: 2/3;
    }
}