.section {
	margin: 0;
    padding: 0;
}

.sectionHeader {
	margin-bottom: 1em;
}

.contactForm {
    background-color: #0a141f;
    padding: 1em 2em;
}

.formGroup {
    background-color: inherit;
    padding: 1rem 0;
}

.formLabel {
    background-color: inherit;
    color: #c5d8d1;
}

.formButton {
    margin: 2rem 0;
}

.formButton, .formButton:active, .formButton:hover, .formButton:visited {
    background-color: #06bcc1;
    border: none;
    color: #12263A;
}

.iconList {
    margin-top: 1em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.iconAndLabel {
    margin: 0;
    padding: .5rem 0;
    flex-direction: column;
    width: 50%;
}

.iconAndLabel a {
	margin: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.iconAndLabel a > * {
    padding: 5px 10px 5px 10px;
	align-self: center;
}

@media screen and (min-width: 850px) {
    .section {
        grid-column: 1/3;
        margin: 0 1em;
        padding: 1em;
    }

    .contactForm {
        padding: 1rem 4rem;
    }

    .iconAndLabel {
        margin: 1rem 0;
        width: 20%;
    }
}