.section {
    margin: 0 1em;
    padding: 2em;
}

.section div p {
    display: flex;
    justify-content: center;
}

.sectionHeader {
    margin-bottom: 1em;
}

.images {
    width: 100%;
}

.modalButton {
    border: 0px;
    border-radius: 0px;
    padding: 0;
}

.modalHeader, .modalTitle, .modalTitle h3 {
    background-color: #06bcc1;
    border-color: #0a141f;
    color: #0a141f;
}

.modalTitle h3 {
    margin: 0;
    align-self: center;
}

.modalBody, .modalBody > *, .modalBody ul > * {
    background-color: #0a141f;
}

.modalBody {
    padding: 2em;
}

.modalBody .images {
    padding-bottom: 2em;
}

.modalBody ul {
    list-style-position: inside;
}

.modalBody p {
    text-align: center;
}

.modalBody p a {
    color: #c5d8d1;
}

.modalIcon {
    background-color: inherit;
}

@media screen and (min-width: 850px) {
    .section {
        grid-column: 1/2;
        grid-row: 1/3;
    }
}