.navContainer {
    background-color:#0e1f2f;
}

.iconList {
    background-color: inherit;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.iconAndLabel {
    background-color: inherit;
	margin: 0;
	display: flex;
	flex-direction: column;
	width: fit-content;
}

.iconAndLabel > * {
    background-color: inherit;
    color: #c9c9c9;
    margin: 0;
    align-self: center;
}

.iconAndLabel svg path {
    color: #c9c9c9;
}

/*@media screen and (min-width: 850px) {

    .navContainer {
        display: none;
    }
}
*/