.mainPage {
    padding: 1em 0 7em 0;
}

.mainPage section {
    margin: 1.5em 0;
}

@media screen and (min-width: 850px) {
    .mainPage {
        padding: 1em 0;
        display: grid;
        column-gap: 3em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(auto, minmax());
    }

    .mainPage section {
        padding: 1.5em 20%;
    }
}