.section {
    margin: 0 1em;
    padding: 2em;
}

.sectionHeader {
	margin-bottom: 1em;
}

.iconList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.iconAndLabel {
    margin: 0;
    padding: 1rem 0;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.iconAndLabel > * {
	align-self: center;
	text-align: center;
	margin: 10px 0 0 0;
}

@media screen and (min-width: 850px) {
    .section {
        grid-column: 1/3;
    }

    .iconAndLabel {
        margin: 1rem 0;
        width: 30%;
    }
}