.section {
    background-color: #18334e;
    margin: 0 1em;
    padding: 2em;
}

.sectionHeader {
    background-color: inherit;
	margin-bottom: 1em;
}

.section > div, .section > div > h2 {
    background-color: #18334e;
}

.iconList {
    background-color: #18334e;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-between;
}

.iconAndLabel {
    background-color: inherit;
    margin: 0;
    padding: .5rem 0;
	display: flex;
	flex-direction: column;
	width: 50%;
}

.iconAndLabel > * {
    background-color: inherit;
	align-self: center;
}

@media screen and (min-width: 850px) {
    .section {
        grid-column: 1/3;
    }

    .iconList {
        justify-content: left;
    }

    .iconAndLabel {
        margin: 1rem 0;
        width: 30%;
    }
}